# EC Standard Login Environment -*- sh -*-
# user .aliases file
# $Source: /usr/cvs/cvsrep/ec_environ-1.0/release/user/aliases,v $
# $Revision: 1.1 $

# You may place your personal aliases here or in .cshrc.$USER
#
# examples:
# alias . exit
# alias e emacs
# alias telnet ssh2

set autoexpand
set autolist=ambiguous

# SSH to other sites
# Folsom:
alias fmlogin 'ssh fm-login.fm.intel.com'
# Chandler:
alias chlogin 'ssh ch-login.ch.intel.com'
# Israel:
alias iillogin 'ssh iil-login.iil.intel.com'
# India:
alias iindlogin 'ssh iind-login.iind.intel.com'
# Austin:
alias anlogin 'ssh an-login.an.intel.com'
# Oregon:
alias pdxlogin 'ssh pdx-login.pdx.intel.com'
# Rio Rancho:
alias rrlogin 'ssh rr-login.rr.intel.com'
# Santa Clara:
alias sclogin 'ssh sc-login.sc.intel.com'
# Hudson:
alias hdlogin 'ssh hd-login.hd.intel.com'
# Fort Collins:
alias fclogin 'ssh fc-login.fc.intel.com'
# Guadalajara, Mexico:
alias gmlogin 'ssh gm-login.zpn.intel.com'
# Penang:
alias pnglogic 'ssh png-login.png.intel.com'


alias shell 'exec /usr/intel/bin/tcsh -f'

alias grep 'grep --color'
# set xterm title to current dir
alias cwdcmd 'xtset -t -i %U"@"%h": "%D'
#alias cwdcmd 'xtermset -T $USER"@"$HOST": "$PWD -n $HOST": "$PWD'
cd .
# Vi Bindkey for pglnoble05
if ( $HOST =~ "pglnoble*") then
    bindkey -v
endif

#blinking ">" prompt
#set prompt="%{^[[44;32;1m%}%U%n%u%{^[[1;33m%}@%{^[[1;31m%}%m%{^[[1;33m%}:%{^[[34m%}%c2 %{^[[0;32m%}%\!%{^[[1;5m%}%#%{^[[0m%} "
set prompt="%{^[[44;32;1m%}%U%n%u%{^[[1;33m%}@%{^[[1;31m%}%m%{^[[1;33m%}:%{^[[34m%}%c2 %{^[[0;32m%}%\![%?]%{^[[1m%}%#%{^[[0m%} "

alias new_vnc 'vncserver -geometry 1920x1080 -depth 24 -r -randr 1920x1080,800x600,1024x768,1152x824,1280x1024,1400x1050,1600x900,1600x1200,1920x1200,3520x900,3520x1200,3520x1100 -alwaysshared'
# list file only / list dir
alias mkdir 'mkdir -p'
alias htail '( head ; tail ) < \!:1'
alias lf 'ls -l|egrep -v '^d''
alias ldir 'ls -l|egrep '^d''
alias stopwatch 'bash ~/scripts/stopwatch.bash'

alias coe69d8 '/p/cse/proc/cad/toolsetup.pl -p coe69all -config dot8 -b allsch -t opus_sch -d -w sch -ov /nfs/png/disks/png_coe69_disk071/stan70 -ot tool_overrides.ot'
alias setupTool 'source /p/com/env/psetup/prod/bin/setupTool -roam'

alias coe714 '/p/socenv/cents/proc/bin/toolsetup.pl -p coe71 -config dot4_ann -b allsch -t opus_sch -d -w sch'
#alias 32nmopifev '/p/cse/proc/cad/toolsetup.pl -p coe69all -config dot8 -t opus_sch -d -w sch -ov /nfs/png/disks/png_coe69_disk066/stan70 -at formal'

alias vnchome 'xrandr -s 0; FvwmCommand Restart'
alias vncwork 'xrandr -s 8; FvwmCommand Restart'

# Invoke 1271 UE
alias coe71opus '/p/socenv/cents/proc/bin/toolsetup.pl -p coe71 -config dot1 -m phs2 -d -t opus_sch -w ckt'
alias coe71all '/p/socenv/cents/proc/bin/toolsetup.pl -p coe71 -config dot1 -t alltools -d -b allsch:alllay:allctl -m phs2'

# Invoke 1273 UE alltools-USB-PROD
alias coe73 '/p/coeenv/cents/proc/bin/toolsetup.pl -p coe73 -config 73p4sles11latest -t alltools -d -b usb:avr -ov /nfs/png/disks/png_coe73_disk044/stan70'
alias 73p1latest '/p/coeenv/cents/proc/bin/toolsetup.pl -p coe73 -config 73p1sles11latest -t alltools -d -b allprd -ov /nfs/png/disks/png_coe73_disk044/stan70'

# c73 dir databases
alias proj_dir 'cd /nfs/png/disks/png_coe73_disk022/stan70/'

#alias diff 'diff -y --suppress-common-lines'

# HDK
alias hdk_setproj '/p/hdk/bin/setproj -p \!:1 -cfg \!:2'
if ($EC_SITE =~ "fm") alias hdk_setproj 'wash -n coe73 coe73lay coeenv hdk10nm hdk10nmproc soc soc73 hdk22nm hdk22nmproc -c "/p/hdk/bin/setproj -p \!:1 -cfg \!:2"'
if ($EC_SITE =~ "png") alias hdk_setproj 'wash -n coe73 coe73lay coeenv hdk10nm hdk10nmproc soc soc73 hdk22nm hdk22nmproc tgp icp -c "/p/hdk/bin/setproj -p \!:1 -cfg \!:2"'
if ($EC_SITE =~ "pdx") alias hdk_setproj 'wash -n dt_users hdk10nm hdk10nmproc soc soc73 hdk22nm hdk22nmproc tgl srvr10nm -c "/p/hdk/bin/setproj -p \!:1 -cfg \!:2"'
if ($EC_SITE =~ "sc") alias hdk_setproj 'wash -n hdk10nm hdk10nmproc soc soc73 tgp srvr10nm xg816beg xg806beg n7na -c "/p/hdk/bin/setproj -p \!:1 -cfg \!:2"'
if ($EC_SITE =~ "imu") alias hdk_setproj 'wash -n n7 tstn7lynxg exs dpfe hdk10nm hdk10nmproc soc soc73 soc73proc xg816beg xg806beg -c "/p/hdk/bin/setproj -p \!:1 -cfg \!:2"'
if ($EC_SITE =~ "iind") alias hdk_setproj 'wash -n n7blr p1273blr exs hdk10nm hdk10nmproc soc soc73 soc73proc xg816beg xg806beg coe73 coe73lay coeenv -c "/p/hdk/bin/setproj -p \!:1 -cfg \!:2"'
#alias setupUE 'setup -t hip -w none -d -b usb -ov /nfs/png/disks/png_coe75_disk012/stan70 -n dot0'
#alias opiosetup 'setup -t hip -w none -d -b opi -ov /nfs/png/disks/png_wbio_00040/stan70 -n dot0'
alias hdk_setup 'setup -t design -w none -d -b all -ov \!:1 -n \!:2*'
alias hdk_envsetup '/p/hdk/bin/envsetup -skipgroupfail -skipselfcheck -p \!:1 -cfg \!:2 -d -b all -ov \!:3 -n \!:4*'
if ($EC_SITE =~ "fm") alias hdk_envsetup 'wash -n coe73 coe73lay coeenv hdk10nm hdk10nmproc soc soc73 hdk22nm hdk22nmproc -c '\''/p/hdk/bin/envsetup -skipgroupfail -p \!:1 -cfg \!:2 -d -b all -ov \!:3 -n \!:4*'\'''
if ($EC_SITE =~ "png") alias hdk_envsetup 'wash -n coe73 coe73lay coeenv hdk10nm hdk10nmproc soc soc73 hdk22nm hdk22nmproc tgp icp -c '\''/p/hdk/bin/envsetup -skipgroupfail -p \!:1 -cfg \!:2 -d -b all -ov \!:3 -n \!:4*'\'''
if ($EC_SITE =~ "pdx") alias hdk_envsetup 'wash -n dt_users hdk10nm hdk10nmproc soc soc73 hdk22nm hdk22nmproc tgl srvr10nm -c '\''/p/hdk/bin/envsetup -skipgroupfail -p \!:1 -cfg \!:2 -d -b all -ov \!:3 -n \!:4*'\'''
if ($EC_SITE =~ "sc") alias hdk_envsetup 'wash -n hdk10nm hdk10nmproc soc soc73 tgp srvr10nm xg816beg xg806beg n7na -c '\''/p/hdk/bin/envsetup -skipgroupfail -p \!:1 -cfg \!:2 -d -b all -ov \!:3 -n \!:4*'\'''
if ($EC_SITE =~ "imu" || $EC_SITE =~ "xa") alias hdk_envsetup 'wash -n n7 tstn7lynxg exs dpfe hdk10nm hdk10nmproc soc soc73 soc73proc xg816beg xg806beg -c '\''/p/hdk/bin/envsetup -skipgroupfail -p \!:1 -cfg \!:2 -d -b all -ov \!:3 -n \!:4*'\'''
if ($EC_SITE =~ "iind") alias hdk_envsetup 'wash -n n7blr p1273blr exs hdk10nm hdk10nmproc soc soc73 soc73proc xg816beg xg806beg coe73 coe73lay coeenv -c '\''/p/hdk/bin/envsetup -skipgroupfail -p \!:1 -cfg \!:2 -d -b all -ov \!:3 -n \!:4*'\'''
if ( $?PROJECT ) then
  if ( $PROJECT =~ "*hdk*" ) then
    source ~stan70/uesetup.aliases
  endif
endif

alias stan70_ion 'nbsession status --target ${EC_SITE}_ion --fields jobid,qslot::10,workstation,interactivedisplay,interactivetype::10,interactivesessionname::20 --sort-by interactivesessionname,interactivetype "user=~'\''stan70'\''"'
alias stan70_share 'nbsession status --target ${EC_SITE}_ion --fields qslot::10,interactivedisplay::40,interactivesessionname::20,user --sort-by User,interactivesessionname "InteractiveSharedWith=~'\''stan70:d'\''"'
alias slestype 'head -1 /.image'
setenv IGNORE_CHECK_OT_FILE_CHECK 1

# Cheetah
alias cheetah_setup 'setenv PROJ_TOOLS /p/hdk/pu_tu/prd;\
    setenv HDK_CHEETAH_BACKBONE /p/hdk/pu_tu/prd/backboneinfra/stan70_sbox;\
    setenv HDK_CDS_CONFIG_ROOT /p/hdk/etc;\
    setenv HDK_SCHEMA ${HDK_CHEETAH_BACKBONE}/commonFlow/etc/templates/schema.xml;\
    set path = ($path ${HDK_CHEETAH_BACKBONE}/commonFlow/bin /p/hdk/pu_tu/prd/rtm_flow/cheetah_18.14.6/bin);\
    setenv HDKPERL /usr/intel/pkgs/perl/5.20.1/bin/perl;\
'
